html, body {
    height: 100%;
  }
  
  body {
    height: 100%;
  }
  
  .content {
    flex: 1;
  }
  
  .footer {
    flex-shrink: 0;
    background-color: #f8f9fa; 
    padding: 1rem 0;
  }

  .custom-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    position: relative;
  }

  .footer-text{
    font-size: 16px;
    color: #000000;
    text-align: center;
    letter-spacing: 0px;
    opacity: 1;

  }

  .toolbar-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .toolbar-content mat-icon {
    margin-right: 8px;
  }
