
<div class="container">
  <h2>Formulário para pegar o indicador que avalia a quantidade de pessoas em situação de extrema pobreza no mundo</h2>
  <form (ngSubmit)="onSubmit()" #indicadorForm="ngForm">
    <div class="form-group">
      <label for="codigo">Código do País</label>
      <div class="input-group">
      <input type="text" class="form-control custom-input" id="codigo" name="codigo" [(ngModel)]="codigo" required>
        <button type="button" class="btn btn-info info-button" (click)="openCountryCodes()" title="Código dos países, clique aqui">
          <mat-icon>info</mat-icon>
        </button>
      </div>
      <div *ngIf="codigoInvalido" class="text-danger mt-2">Código do país obrigatório</div>
    </div>
    <button type="submit" class="btn btn-primary custom-button">Pesquisar</button>
  </form>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <div class="row table-dataSource"  [ngStyle]="{'display': mostraTabela ? 'block' : 'none'}">
    <div class="col-md-12">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
      
         
          <ng-container matColumnDef="pais">
            <th mat-header-cell *matHeaderCellDef> País </th>
            <td mat-cell *matCellDef="let element"> {{element.pais}} </td>
          </ng-container>
      
          <ng-container matColumnDef="ano">
            <th mat-header-cell *matHeaderCellDef> Ano </th>
            <td mat-cell *matCellDef="let element"> {{element.data}} </td>
          </ng-container>
      

          <ng-container matColumnDef="indicador">
            <th mat-header-cell *matHeaderCellDef> Indicador </th>
            <td mat-cell *matCellDef="let element"> {{ element.indicador ? element.indicador + '%' : 'Valor não disponível' }} </td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumnsData"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsData;"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                       showFirstLastButtons
                       aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
      
    </div>
  </div>
</div>


